venv
prod-db/*
prod_data_2024_05_29.json
__pycache__
*.swp
chromedriver
*.sqlite3*
*.sqlite3-journal
*.sql
hlo/settings/logging.py
*.log
*~
.idea
*.code-workspace
.vscode/
# folders
media_root
whoosh_index
# symlinks
.vscode
.env*
scraper-cache
input
schema
.mypy_cache
postgresql-data
