venv
__pycache__
*.swp
chromedriver
.env
*.env
!dev.env
*.sqlite3
tls/*
*cache*/
geckodriver.log
hlo/settings/logging.py
*.log
*~
.idea
*.code-workspace
storage/
*/migrations/*
logos/
.vscode/
scraper-cache/
# symlinks
.vscode
scraper-cache
