__pycache__
*.swp
*.sqlite3*
*.sqlite3-journal
*.sql
hlo/settings/logging.py
*.log
*~
.idea
*.code-workspace
.vscode/
# folders
media_root
whoosh_index
static/django_bootstrap_icons
*.old
# symlinks
.vscode
.env*
scraper-cache
input
schema
# type checker
.mypy_cache
# node folders for downloading js
node_modules
package-lock.json
# python virtual env
venv
.venv
