# DJANGO BASE PROJECT
HLO_DEBUG=true
HLO_SECRET_KEY=...
# Relative path (three /) will place db in BASE_DIR
HLO_DATABASE_URL=sqlite:///db/db-dev.sqlite3
HLO_TIME_ZONE=Europe/Oslo
HLO_LANGUAGE_CODE=nb
# Add correct hosts
HLO_ALLOWED_HOSTS=localhost,127.0.0.1
# In addition ti 127.0.0.1, what IPs should
# be considered internal IPs.
# Affects among other, debug toolbar
# HLO_INTERNAL_IPS=10.0.0.2

# Folder containing output from
# https://gitlab.com/Kagee/webshop-order-scraper
# HLO_INPUT_FOLDER=./input
# HLO_JSON_SCHEME=./input/schema.json

UPDATE_HLO_SUPERUSER_NAME=superyou
UPDATE_HLO_SUPERUSER_EMAIL=you@gmail.com