{
	"folders": [
		{
			"path": "."
		}
	],
	"settings": {
        "css.validate": false,
		"python.envFile": "${workspaceFolder}/.autoload/env",
		"[python]": {
			"editor.formatOnSave": true,
			"editor.defaultFormatter": "charliermarsh.ruff",
			"editor.codeActionsOnSave": {
				"source.organizeImports": "explicit"
			}
		},
		"[html][django-html][handlebars][hbs][mustache][jinja][jinja-html][nj][njk][nunjucks][twig]": {
			"editor.defaultFormatter": "monosans.djlint"
		},
		"ruff.organizeImports": true,
        "ruff.args": [
            "--extend-exclude=.vscode-server",
        ],
		"files.exclude": {
			"venv": true,
			"**/__pycache__": true,
			".ruff_cache": true,
			"whoosh_index": true,
			".mypy_cache": true,
			"*~": true,
			"LICENSE": true,
			"manage.py": true,
			"input-ignore": true,
			"schema": true,
			"media_root": true,
			"README.md": true,
			"ATTRIBUTION.md": true,
			"scraper.log": true,
			"bootstrap.py": true,
			"sudo-nuke-db.py": true,
			"update.py": true,
			"requirements-dev.txt": true,
			"*.code-workspace": true,
			"*.code-workspace.example": true,
			"pyproject.toml": true,
			"*.swp": true,
			"**/migrations/": true,
			".gitignore": true,
			"hlo/sqlite3": true,
			"hlo_model_graph.png": true,
			"utils/": true,
			"prod-db/": true,
			"input": true,
			".vscode/": true,
			"db/": true,
			"docs/": true,
			"model_graph.png": true,
			"requirements.txt": true,
		},
		"python.languageServer": "Jedi",
		"python.analysis.indexing": true,
		"python.analysis.autoImportCompletions": true,
	}
}
