Django>=3.2,<4
django-environ>=0.10
pillow>=9.5
django-money>=3.0.0
price-parser>=0.3.4
jsonschema>=4.17
money>=1.3.0
django-taggit>=4.0.0
django-admin-rangefilter>=0.11.2
django-bootstrap5>=23.3
pymupdf>=1.23.5
Whoosh>=2.7.4
Django-haystack>=3.2.1
djangorestframework>=3.14.0