{% extends "base.html" %}

{% block content %}
    <form method="get">
        {{ filter.form.as_table }}
        <input type="submit" />
    </form>
    <ul>    
    <li>Pagenation</li>
    {% for obj in page_obj %}
    <li>{{ obj.name }} ({{ obj.id }})</li>
    {% endfor %}
</ul>
<pre>{{ request.get_full_path }}</pre>
<pre>{{ request.path }}</pre>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% load debug_object_dump %}
        {% if page_obj.has_next %}
            <a href="?{% url_replace_parameter page=page_obj.next_page_number %}">next</a>
            <a href="?{% url_replace_parameter page=page_obj.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<!-- 
<pre>{{ filter | json_dump_var  }}</pre>
<pre>{{ page_obj | json_dump_var  }}</pre> -->
{% endblock %}