{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Details for {{ order_item.name }}{% endblock title %}
{% block content %}
        <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
                <th scope="col">Thumnail</th>
                <th scope="col">Name</th>
                <th scope="col">Shop</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {% if order_item.thumbnail %}
                        <div style="height: 50px;">
                        <img src="{{ order_item.thumbnail.url }}" style="height: 100%; width: auto;" />
                        </div>
                        {% endif %}
                    </td>
                    <td>{{ order_item.name }}</td>
                    <td>{{ order_item.order.shop.list_icon }} {{ order_item.order.date }} {{ order_item.order.order_id }}</td>
                </tr>
            </tbody>
        </table>
        Order: <a href="{{ order_item.order.get_order_url }}">{{ order_item.order.get_order_url }}</a><br>
        Item:  <a href="{{ order_item.get_orderitem_url }}">{{ order_item.get_orderitem_url }}</a><br>
        {% for attachement in order_item.attachements.all %}
        Attachement: <a href="{{ attachement.file.url }}">{{ attachement }}</a><br>
        {% endfor %}
    </div>
</div>
{% endblock %}
