{% extends "base.html" %}
{% block title %}Details for {{ order_item.name }}{% endblock title %}
{% block content %}
<!-- https://getbootstrap.com/docs/5.0/layout/grid/ -->
<div class="row">
    <div class="col-6">
        <h1>{{ order_item.name }}</h1>
        <div class="product-main-info-partnumber-store">
            <p>
                <span>Order number/date:</span>
                <span><a href="{% url 'order-detail' order_item.order.id %}" title="View original order details">
                    {{ order_item.order.order_id }} / {{ order_item.order.date }}
                </a></span>
                <br>
                <span>Item number:</span>
                <span><a href="{{ order_item.get_orderitem_url }}" title="View original item listing on {{ order_item.order.shop.branch_name }}">
                        {{ order_item.item_id }}
                    </a></span>
            </p>
        </div>
         if order_item.attachements.all %}
        <h4>Attachements</h4>
        {% for attachement in order_item.attachements.all %}
        Attachement: <a href="{{ attachement.file.url }}">{{ attachement }}</a><br>
        {% endfor %}
         endif %}
    </div>
    <div class="col-6">
        {% if order_item.thumbnail %}
        <img src="{{ order_item.thumbnail.url }}" style="height: 100%; width: auto;max-width: 500px;" />
        {% endif %}
    </div>

</div>
{% endblock %}