{% extends "common/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load hlo_debug_tags %}
{% block title %}
    Details for {{ stock_item.name }}
{% endblock title %}
{% block content %}
    {% load mptt_tags %}
    <div class="row mt-3">
        <div class="col-12 col-lg-7 col-xl-7 col-xxl-7">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h3>
                        {{ storage.name }}{% if storage.name_secondary %} <span class="text-body-tertiary">({{ storage.name_secondary }})</span>{% endif %}
                        {% if not storage.is_root_node %}
                            <a class="btn btn-outline-secondary btn-sm"
                               href="{% url "storage-detail" storage.parent.pk %}">{{ storage.parent }}</a>
                        {% endif %}
                        <a class="btn btn-outline-secondary btn-sm"
                    href="{% url 'storage-update' storage.id %}"
                    role="button">edit</a>
                    </h3>
                    <p class="text-body-secondary">{{ storage.comment | linebreaks  }}</p>
                </div>
            </div>
            <div class="row mt-3">
                <!-- table -->
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                                <tr class="table-dark">
                                    <td colspan="2">Children</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        {% for node in storage.get_children %}
                                            <a class="btn btn-outline-secondary btn-sm mt-2"
                                               href="{% url "storage-detail" node.pk %}">{{ node.name }}{% if node.name_secondary %}<span class="text-secondary"> ({{ node.name_secondary }})</span>{% endif %}</a>
                                        {% endfor %}
                                        <a class="btn btn-outline-info btn-sm mt-2"
                                               href="{% url "storage-create-parent" storage.pk %}">Create new child</a>
                                    </td>
                                </tr>
                            {% if storage.stockitems.all.count %}
                                <tr class="table-dark">
                                    <td colspan="2">Items ({{ storage.stockitems.all.count }})</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="list-group">
                                            {% for stockitem in storage.stockitems.all %}
                                                <a href="{{ stockitem.get_absolute_url }}"
                                                   class="list-group-item list-group-item-action">
                                                    <img style="min-height: 6em;
                                                                max-width: 6em"
                                                         src="{{ stockitem.thumbnail }}" />
                                                {{ stockitem.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                            <tr class="table-dark">
                                <td colspan="2">Label</td>
                            </tr>
                            <tr>
                                <td>
                                    <p>
                                        <img src="{% url 'label-render-storage' storage.id %}" width="300" />
                                    </p>
                                    <p>
                                        <a id="print-three-labels" class="btn btn-primary btn-sm">
                                            {% if storage.label_printed %}
                                                Reprint three labels
                                            {% else %}
                                                Print three labels
                                            {% endif %}
                                        </a>
                                        <a id="print-label" class="btn btn-primary btn-sm">
                                            {% if storage.label_printed %}
                                                Reprint label
                                            {% else %}
                                                Print label
                                            {% endif %}
                                        </a>

                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block bodybottom %}
{% csrf_token %}
<script type="text/javascript">

    function print_label() {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        url = "{% url 'label-print-storage' storage.id %}"
        if ({{ storage.label_printed | yesno:"true,false" }}) {
            if (confirm("A label for this item has already been printed.\n\nAre you sure you want to print a new label?") != true) {
                return
            }
        }
        $.ajax
        ({ 
            url: url,
            type: 'post',
            headers: {'X-CSRFToken': csrftoken},
            success: function()
            {
                $('#print-label').hide()
            },
            error: function(jqXHR, textStatus, errorThrown) {
                if (Object.hasOwn(jqXHR, 'responseJSON')) {
                    alert(jqXHR.responseJSON["reason"] + ": " + jqXHR.responseJSON["text"] )
                } else {
                    alert("Serverside error: \nHTTP " +jqXHR.status + " " + errorThrown)
                }
            }
        });
    }

    $('#print-label').click(function() 
    {
        print_label();
    });
    $('#print-three-labels').click(function() 
    {
        print_label();
        print_label();
        print_label();
    });

</script>
{% endblock bodybottom %}