{% extends "common/base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}
    Create storage
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>Create storage object</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row">
                        <div class="col">{{ field | as_crispy_field }}</div>
                    </div>
                {% endfor %}
                <p class="text-end">
                    <button type="submit" class="btn btn-primary">Create storage object</button>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}
