{% extends "common/base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}
{% if storage %}Edit{% else %}Create{% endif %} storage {{ storage.name }}
{% endblock title %}
{% block content %}
    <div class="row mt-2 mb-4">
        <div class="col">
            <h1>
                {% if storage %}Edit{% else %}Create{% endif %} storage {{ storage.name }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row">
                        <div class="col">{{ field | as_crispy_field }}</div>
                    </div>
                {% endfor %}
                <p class="text-end">
                    <button name="submit" type="submit" value="view-object" class="btn btn-primary">{% if storage %}Edit{% else %}Create{% endif %} storage and view</button>
                    <button name="submit" type="submit" value="view-parent" class="btn btn-primary">{% if storage %}Edit{% else %}Create{% endif %} storage and view parent</button>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}
