{% extends "common/base.html" %}
{% load hlo_tags %}
{% load hlo_debug_tags %}
{% load mptt_tags %}
{% load django_bootstrap5 %}
{% block title %}
    Storage
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col pt-3">
            <div class="list-group" style="display:inline-block">
                {% for storage, structure in storages|tree_info %}
                    <a href="{% url "storage-detail" storage.id %}"
                       class="list-group-item list-group-item-action">
                        {% repeat_multi "&nbsp;" storage.level 10 %}{{ storage.name }}
                        <!-- () --></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock content %}
