{% extends "common/base.html" %}
{% load bootstrap_icons %}
{% block title %}
    Details for {{ orderitem.name }}
{% endblock title %}
{% block head %}
    <script type="text/javascript">
        window.addEventListener("load", () => { 
            window.csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            document.querySelector('#btn-toggle-hide').addEventListener("click", toggleHide);
        });
        
        async function toggleHide() {
            const formData = new FormData();

            {% if orderitem.meta and orderitem.meta.hidden %}
            // show / un-hide
            let url = "{% url "orderitem-hide" orderitem.id "false" %}"
            {% else %}
            // hide
            let url = "{% url "orderitem-hide" orderitem.id "true" %}"
            let reason = prompt("Why should this item be hidden?", "{{ orderitem.meta.comment }}");
            reason = reason.trim()
            if (reason == "") {
                return
            }
            formData.append("comment", reason);
            {% endif %}

            try {
              
              const response = await fetch(url, {
                method: "POST",
                body: formData,
                headers: {
                  'X-CSRFToken': window.csrftoken,
                },
              });
              if (!response.ok) {
                const json = await response.json();
                alert(json["message"])
              } else {
                window.location.reload();
              }
            } catch (error) {
              alert(`Serverside error: ${error.message}`)
              console.error(error.message);
            }
          }
    </script>
{% endblock head %}

{% block content %}
    <!-- https://getbootstrap.com/docs/5.0/layout/grid/ -->
    <div class="row mt-3">
        <div class="col-9 col-lg-7 col-xl-7 col-xxl-7">
            <div class="row">
                <!-- title -->
                <div class="col-12">
                    <h3>{{ orderitem.name }}</h3>
                    {% if orderitem.manual_input %}
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'orderitem-update' orderitem.id %}"
                           role="button">Edit</a>
                    {% endif %}
                    <a href="{% url 'stockitem-create-from' orderitem.id %}"
                       class="btn btn-outline-success btn-sm">
                        {% if not orderitem.stockitems.count %}
                            Create stock item
                        {% else %}
                            Create additional stock item
                        {% endif %}
                    </a>
                    <a id="btn-toggle-hide" class="btn btn-outline-danger text-middle btn-sm">
                        {% if orderitem.meta and orderitem.meta.hidden %}
                        Show
                        {% else %}
                        Hide
                    {% endif %}
                    </a>
                    {% if request.user.is_staff %}
                        <a class="btn btn-outline-secondary btn-sm"
                           href="{% url 'admin:hlo_orderitem_change' orderitem.id %}"
                           role="button" target="_blank">Open admin view</a>
                    {% endif %}
                </div>
            </div>
            <div class="row d-lg-none d-xl-none d-xxl-none">
                <!-- small screen image -->
                <div class="col">
                    {% if orderitem.thumbnail %}
                        <img alt="Image thumbnail"
                             src="{{ orderitem.thumbnail.url }}"
                             class="img-fluid"
                             style="max-width: 90%" />
                    {% else %}
                        {% md_icon 'image-off' color='grey' size='90%' %}
                    {% endif %}
                </div>
            </div>
            <div class="row mt-3">
                <!-- table -->
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td>Internal order</td>
                                <td>
                                    <a href="{% url 'order-detail' orderitem.order.id %}" target="_blank">{{ orderitem.order }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Original order</td>
                                <td>
                                    <a href="{{ orderitem.order.get_order_url }}"
                                       title="View original order details"
                                       target="_blank">🛪 View original order {{ orderitem.order.shop.name }} #{{ orderitem.order.order_id }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Order date</td>
                                <td>{{ orderitem.order.date }}</td>
                            </tr>
                            <tr>
                                <td>Total / (~NOK)</td>
                                <td>{{ orderitem.total }} / {{ orderitem.total_nok }} NOK</td>
                            </tr>
                            <tr>
                                <td>Item listing</td>
                                <td>
                                    <a href="{{ orderitem.get_orderitem_url }}"
                                       title="View original item listing on {{ orderitem.order.shop.branch_name }}"
                                       target="_blank">🛪 {{ orderitem.order.shop.name }} #{{ orderitem.item_id }}</a>
                                </td>
                            </tr>
                            {% if orderitem.stockitems.all %}
                                <tr>
                                    <td>Stock item(s)</td>
                                    <td>
                                        {% for stockitem in orderitem.stockitems.all %}
                                            <a href="{% url "stockitem-detail" stockitem.pk %}">{{ stockitem }} ({{ stockitem.pk }})</a>
                                            <br>
                                            {% if stockitem.attachments.all %}<ul>{% endif %}
                                                {% for attachment in stockitem.attachments.all %}
                                                    <li>
                                                        <a href="{{ attachment.file.url }}" target="_blank">{{ attachment.name }}</a>
                                                    </li>
                                                {% endfor %}
                                                {% if stockitem.attachments.all %}</ul>{% endif %}
                                        {% empty %}
                                            No linked stock items
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if orderitem.attachments.all %}
                                <tr>
                                    <td>Attachment(s)</td>
                                    <td>
                                        <ul class="mb-0">
                                            {% for attachment in orderitem.attachments.all %}
                                                <li>
                                                    <a href="{{ attachment.file.url }}" target="_blank">{{ attachment.name }}</a>
                                                </li>
                                            {% empty %}
                                                No attachments
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 d-none d-lg-block d-xl-block d-xxl-block">
            <!-- Render image to the side for >= lg -->
            {% if orderitem.thumbnail %}
                <img alt="Image thumbnail"
                     src="{{ orderitem.thumbnail.url }}"
                     class="img-fluid"
                     style="max-width: 90%" />
            {% else %}
                {% md_icon 'image-off' color='grey' size='90%' %}
            {% endif %}
        </div>
    </div>
    {% csrf_token %}
{% endblock content %}
{% block bodybottom %}
    <script type="text/javascript">
    $('#print-label').click(function() 
    {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        url = "{% url 'label-render-sha1-size' orderitem.sha1_id 4 %}"
        if ({{ orderitem.meta.label_printed | yesno:"true,false" }}) {
            if (confirm("A label for this item has already been printed.\n\nAre you sure you want to print a new label?") != true) {
                return
            }
        }
        $.ajax
        ({ 
            url: url,
            type: 'post',
            headers: {'X-CSRFToken': csrftoken},
            success: function()
            {
                $('#print-label').hide()
            },
            error: function(jqXHR, textStatus, errorThrown) {
                if (Object.hasOwn(jqXHR, 'responseJSON')) {
                    alert(jqXHR.responseJSON["reason"] + ": " + jqXHR.responseJSON["text"] )
                } else {
                    alert("Serverside error: \nHTTP " +jqXHR.status + " " + errorThrown)
                }
            }
        });
    });
    </script>
    
{% endblock bodybottom %}
