{% extends "common/base.html" %}
{% load bootstrap_icons %}
{% block title %}
    Details for {{ orderitem.name }}
{% endblock title %}
{% block content %}
    <!-- https://getbootstrap.com/docs/5.0/layout/grid/ -->
    <div class="row">
        <div class="col-6">
            <h1>{{ orderitem.name }}</h1>
            <div class="product-main-info-partnumber-store">
                <p>
                    <span>Order number/date:</span>
                    <span>
                        <a href="{% url 'order-detail' orderitem.order.id %}"
                           title="View original order details">
                            {{ orderitem.order.order_id }} / {{ orderitem.order.date }}
                        </a>
                    </span>
                    <br>
                    <span>Item number:</span>
                    <span>
                        <a href="{{ orderitem.get_orderitem_url }}"
                           title="View original item listing on {{ orderitem.order.shop.branch_name }}">
                            {{ orderitem.item_id }}
                        </a>
                    </span>
                </p>
            </div>
            {% if not orderitem.stockitems.count %}
                <a href="{% url 'stockitem-create-from' orderitem.id %}"
                   class="btn btn-primary btn-sm">Create stock item {% bs_icon 'box-arrow-in-right' %}</a>
            {% endif %}
            {% if orderitem.attachements.all %}
                <h4>Attachements</h4>
                {% for attachement in orderitem.attachements.all %}
                    Attachement: <a href="{{ attachement.file.url }}">{{ attachement }}</a>
                    <br>
                {% endfor %}
            {% endif %}
            <h4>Label</h4>
            <p>
                <img src="{% url 'label-render-orderitem' orderitem.id %}" width="400" />
            </p>
            <p>
                <a id="print-label" class="btn btn-primary btn-sm">
                    {% if orderitem.meta.label_printed %}
                        Reprint label
                    {% else %}
                        Print label
                    {% endif %}
                </a>
            </p>
        </div>
        <div class="col-6">
            {% if orderitem.thumbnail %}{{ orderitem.image_tag }}{% endif %}
        </div>
    </div>
{% endblock content %}
{% block bodybottom %}
{% csrf_token %}
<script type="text/javascript">
    $('#print-label').click(function() 
    {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        url = "{% url 'label-print-orderitem' orderitem.id %}"
        if ({{ orderitem.meta.label_printed | yesno:"true,false" }}) {
            if (confirm("A label for this item has already been printed.\n\nAre you sure you want to print a new label?") != true) {
                return
            }
        }
        $.ajax
        ({ 
            url: url,
            type: 'post',
            headers: {'X-CSRFToken': csrftoken},
            success: function()
            {
                $('#print-label').hide()
            },
            error: function(jqXHR, textStatus, errorThrown) {
                if (Object.hasOwn(jqXHR, 'responseJSON')) {
                    alert(jqXHR.responseJSON["reason"] + ": " + jqXHR.responseJSON["text"] )
                } else {
                    alert("Serverside error: \nHTTP " +jqXHR.status + " " + errorThrown)
                }
            }
        });
    });
</script>
{% endblock bodybottom %}