{% extends "common/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block title %}
  Find order items
{% endblock title %}
{% block head %}
  <style>
  .table-row{
    cursor:pointer;
  }
  </style>
  <script type="text/javascript">
    function isElementInViewport (el) {
      var rect = el.getBoundingClientRect();
      return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
          rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
      );
    }
    function sxp(path, relative) {
      if (!relative) {
        relative = document.body;
      }
      return document.evaluate(
      path,
      relative,
      null,
      XPathResult.FIRST_ORDERED_NODE_TYPE
      ).singleNodeValue;
    }

    async function toggleHide(url, hidden, comment) {
      const formData = new FormData();

      if (comment != "") {
        formData.append("comment", comment);
      }
      console.log("POST TO:")
      console.log(url)
      try {
        
        const response = await fetch(url, {
          method: "POST",
          body: formData,
          headers: {
            'X-CSRFToken': window.csrftoken,
          },
        });
        if (!response.ok) {
          const json = await response.json();
          alert(json["message"])
        } else {
          window.location.reload();
        }
      } catch (error) {
        alert(`Serverside error: ${error.message}`)
        console.error(error.message);
      }
    }

    async function toggleHideWrapper(e) {
      let pk = e.target.dataset.pk;
      let hidden = e.target.dataset.metaHidden == "true";
      let comment = e.target.dataset.metaComment;

      let url = "{% url "orderitem-hide" 9876 "TRUEORFALSE" %}"
      url = url.replace("/9876/", `/${pk}/`)
      url = url.replace("/TRUEORFALSE", `/${!hidden}`)
      console.log(url)
      if (!hidden) {
        comment = prompt("Why should this item be hidden?", comment);
        comment = comment.trim()
        if (comment == "") {
            return
        }
      } 
      toggleHide(url, hidden, comment)
    }

    window.addEventListener("load", function($) {
      if (!(new URL(document.location).search)) {
        console.log("calc wis");
        let visible = 0;
        rows = document.querySelectorAll("tr.table-row")
        for (let row of rows) {
          if (isElementInViewport(row)) {
            visible = visible + 1;
          }
        }
        if (rows.length > visible) {
          visible = Math.max(visible-1, 5)
          console.log("New page size", visible);
          document.location = document.location + `?per_page=${visible}`
        }
      } else {
        window.csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        btnToggleHides = document.querySelectorAll(".btn-toggle-hide")
        for (let btn of btnToggleHides) {
          btn.addEventListener("click", toggleHideWrapper)
        }
      }

      document.querySelectorAll(".btn-hide-item").forEach((e) => {
        e.addEventListener("click", function(ev) {
          //a[@id='btn-hide2']
          console.log(sxp('./ancestor::tr', ev.target).getAttribute("data-pk"));
          // window.document.location = ev.target.getAttribute("data-href");
        });
      });
    });
  </script>
{% endblock head %}
{% block content %}
  {% include "common/filter_modal.html" %}
  <div class="row d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
    <div class="col">
      <!-- CRISPY FORM START -->
      {% load crispy_forms_tags %}
      {% crispy filter.form %}
      <!-- CRISPY FORM END -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table  table-sm table-bordered table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" style="min-width: 6em;"></th>
            <th scope="col">Name</th>
            <!-- Hide shop col on small screens -->
            <th scope="col"
                class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">Shop</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for orderitem in page_obj %}
            <tr class="table-row"
                data-href="{{ orderitem.get_absolute_url }}"
                data-pk="{{ orderitem.pk }}">
              <td class="p-2"
                  style="min-height: 12em;
                         height: 6em;
                         background-size: contain;
                         background-repeat: no-repeat;
                         {% if orderitem.thumbnail %}background-image: url({{ orderitem.thumbnail.url }});{% endif %}"></td>
              <td class="align-middle">
                <a href="{{ orderitem.get_absolute_url }}">{{ orderitem.name }}</a>
              </td>
              <!-- Hide shop col on small screens -->
              <td class="text-center d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell align-middle"
                  style="min-height: 12em;
                         height: 6em;
                         background-size: contain;
                         background-repeat: no-repeat;
                         background-position: center;
                         {% if orderitem.order.shop.icon %}background-image: url({{ orderitem.order.shop.icon.url }});{% endif %}">
                {% if not orderitem.order.shop.icon %}
                  {% md_icon 'image-off' color='grey' size='4em' %}
                {% endif %}
              </div>
            </td>
            <td class="text-center align-middle">
              {% if not orderitem.stockitems.count %}
                <a href="{% url 'stockitem-create-from' orderitem.id %}"
                   class="btn btn-success  btn-lg text-middle">Stock</a>
              {% endif %}
              <a
                 class="btn btn-danger text-middle btn-lg btn-toggle-hide"
                 data-pk="{{ orderitem.pk }}"
                 data-meta-hidden="{{ orderitem.meta.hidden | yesno:"true,false" }}"
                 data-meta-comment="{{ orderitem.meta.comment }}">
                {% if orderitem.meta and orderitem.meta.hidden %}
                  Show
                {% else %}
                  Hide
                {% endif %}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% include "common/pagination.html" %}
  {% csrf_token %}
{% endblock content %}
