{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}Find order items{% endblock title %}
{% block content %}
<div class="row">
    <div class="col">
        <div class="d-inline-flex justify-content-start">
            <h4>{{ filter.qs.count }} matching order items</h4>
        </div>
    </div>
    <div class="col">
        <form method="GET">
            {% for field in filter.form.visible_fields %}
            <div class="d-inline-flex justify-content-end">
                {{ field.label_tag }}&nbsp;&nbsp;&nbsp;{{ field }}
            </div>
            {% endfor %}
            <div class="d-inline-flex justify-content-end">
                <button type="submit">SUBMIT!</button>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col">
        {% if not filter.data %}
        <p>Intet filter, viser alle, viser første {{ page_obj.paginator.per_page }}</p>
        {% endif %}
        <table class="table table-bordered table-striped table-hover table-sm">
            <thead>
                <th scope="col">Thumnail</th>
                <th scope="col">Name</th>
                <th scope="col">Shop</th>
                <th scope="col">Create stock</th>
            </thead>
            <tbody>
                {% for orderitem in page_obj %}
                <tr>
                    <td>
                        {% if orderitem.thumbnail %}
                        <div style="height: 50px;">
                        <img src="{{ orderitem.thumbnail.url }}" style="height: 100%; width: auto;" />
                        </div>
                        {% endif %}
                    </td>
                    <td><a href="{{ orderitem.get_absolute_url }}">{{ orderitem.name }}</a></td>
                    <td>{{ orderitem.order.shop.list_icon }} {{ orderitem.order.date }} {{ orderitem.order.order_id }}</td>
                    <td><a href="{% url 'stockitem-create-from' orderitem.id %}">Create</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        {% load hlo_tags %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              
              <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                <a class="page-link"{% if page_obj.has_previous %} href="?{% url_replace_parameter page=1 %}"{% endif %} aria-label="First">
                  <span aria-hidden="true">« First</span>
                </a>
              </li>
              
              <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
                <a class="page-link"{% if page_obj.has_previous %}  href="?{% url_replace_parameter page=page_obj.previous_page_number %}"{% endif %} aria-label="Previous">
                  <span aria-hidden="true">‹ Previous</span>
                </a>
              </li>
              
              <li class="page-item"><a class="page-link disabled">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>
              
              <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                <a class="page-link"{% if page_obj.has_next %} href="?{% url_replace_parameter page=page_obj.next_page_number %}"{% endif %} aria-label="Next">
                  <span aria-hidden="true">Next ›</span>
                </a>
              </li>
              
              <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
                <a class="page-link"{% if page_obj.has_next %} href="?{% url_replace_parameter page=page_obj.paginator.num_pages %}"{% endif %} aria-label="Last">
                  <span aria-hidden="true">Last »</span>
                </a>
              </li>
              
            </ul>
          </nav>


        <div class="pagination">
            <span class="step-links">
                
                <span class="current">
                    
                </span>
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col">
        <h3>Debug</h3>
        <pre>{{ filter | json_dump_var  }}</pre>
        <pre>{{ page_obj | json_dump_var  }}</pre>
        <pre>{{ page_obj.paginator | json_dump_var  }}</pre>
    </div>
</div>
-->
{% endblock %}
