{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="row pt-3">
        <div class="col">
            {% if orderitem %}
                <h1>{{ orderitem.name }}</h1>
            {% else %}
                <h1>Create item object</h1>
            {% endif %}
        </div>
    </div>
    {% if orderitem and not orderitem.manual_input %}
        <div class="alert alert-danger" role="alert">
            This is a automatically created item object. Editing is disabled by default. Press <a href="#" id="enableEdit">here</a> to enable editing.
        </div>
    {% endif %}
    <div class="row">
        <div class="col">{% crispy form form.helper %}</div>
    </div>
{% endblock content %}
{% block bodybottom %}
    <script type="text/javascript">
        $(window).on("load", function() {
            $("#enableEdit").on("click", function() { 
                if(confirm("This is a automatically created shop object.\n\nEditing is disabled by default.\n\nAre you REALLY sure you want to edit this object?")) {
                    document.querySelectorAll('*[disabled="disabled"]').forEach((e) => {e.disabled=""}) 
                }
                
            })
            
        })
    </script>
{% endblock bodybottom %}
