{% extends "common/base.html" %}
{% load static %}
{% block title %}
    test page
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'cropperjs/cropper.min.css' %}">
    <script src="{% static 'cropperjs/cropper.min.js' %}"></script>
    <script src="{% static 'js/select-drop-paste.js' %}"></script>
    <script type="text/javascript">
        let sdpConfig = {
            // showErrorCallback: SDP._logError,
            // hideErrorCallback: null,
            // newFileCallback: SDP._logNewFile,
            // autoAssignFileToInput: true,
            fileInputElement: "#uploadfile",
            dropzoneElement: "#dropzone",
            // acceptedMimeTypes: ['image/png', 'image/jpeg'],
            acceptedMimeTypes: [''],
            debug: true,
        };
        
        let sdp = new SDP(sdpConfig);

        function setUploadFile(file) {
            let container = new DataTransfer();
            container.items.add(file);
            document.querySelector(fileInputElement).files = container.files;
        }

        function previewFile(file) {
            const preview = document.querySelector(displayElement);
            const reader = new FileReader();
            reader.addEventListener(
            "load",
            () => {
                preview.src = reader.result;
            },
            false,
            );
            reader.readAsDataURL(file);
        }
    </script>
{% endblock head %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="uploadfile" id="uploadfile">
        <div class="alert alert-warning d-none" role="alert" id="msg">some alert text</div>
        <button type="submit" class="btn btn-primary">TEst</button>
    </form>
    <div id="dropzone" style="border: 1px solid red; height: 200px;">
        <p>
            Drag one or more files to this <i>drop zone</i>.
        </p>
    </div>
    <h3>Image</h3>
    <img src="" height="200" alt="Image preview" id="display" />
    <h3>Touch</h3>
    <div id="touch">Unknown</div>
    <h3>Output</h3>
    <h3>Postdata</h3>
    {{ postdata }}
    <h3>Filedata</h3>
    {{ filedata }}
    <br>
    {{ content_type }}
{% endblock content %}
