{% extends "common/base.html" %}
{% load static %}
{% block title %}
    test page
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'cropperjs/cropper.min.css' %}">
    <script src="{% static 'cropperjs/cropper.min.js' %}"></script>
    <script type="text/javascript">
    $(window).on('load', function() {
        const isTouchCapable = 'ontouchstart' in window ||
        (window.DocumentTouch && document instanceof window.DocumentTouch) ||
        navigator.maxTouchPoints > 0 ||
        window.navigator.msMaxTouchPoints > 0;
        $("#touch").text(isTouchCapable ? "touch": "notouch")
    });
    document.addEventListener('paste', async (e) => {
        e.preventDefault();
      
        for (const clipboardItem of e.clipboardData.files) {
          if (clipboardItem.type.startsWith('image/')) {
                console.log(clipboardItem)
                previewFile(clipboardItem)
          }
        }
      });

      function dropHandler(ev) {
        console.log("File(s) dropped");
      
        // Prevent default behavior (Prevent file from being opened)
        ev.preventDefault();
      
        if (ev.dataTransfer.items) {
          // Use DataTransferItemList interface to access the file(s)
          console.log("DataTransferItemList");

          [...ev.dataTransfer.items].every((item, i) => {
            // If dropped items aren't files, reject them
            if (item.kind === "file") {
              const file = item.getAsFile();
              previewFile(file)
              setUploadFile(file)
              console.log(file.type)
            } else {
                console.log("")
                console.log(`${i}: Ignored data transfer of type ${item.kind}`)
                f = item.getAsFile()
                /*if (f) {
                    previewFile(f)
                    return false;
                }*/
                item.getAsString(function(data) {
                    console.log(`${i}:getAsString: ${data} (${item.type})`)
                })
                w = item.webkitGetAsEntry()
                console.log(`${i}:webkitGetAsEntry: ${w} (${item.type})`)
                console.log(`${i}:getAsFile: ${f} (${item.type})`)
                console.log(`${i}:item:`, item)
                return true;
            }
          });
        } else {
            console.log("DataTransfer interface");
          // Use DataTransfer interface to access the file(s)
          [...ev.dataTransfer.files].every((file, i) => {
            previewFile(file)
            console.log(file.type)
            console.log(`… file[${i}].name = ${file.name}`);
            return true;
          });
        }
      }
      
      function dragOverHandler(ev) {
        ev.preventDefault();
      }
      
      async function fileFieldChange(event) {
        const file = event.target.files.item(0)
        console.log(file.type)
      }

      function setUploadFile(file) {
        document.querySelector("#uploadFile").value = file
      }

      async function processImg(event) {
        const file = event.target.files.item(0)
        if (file.type != 'image/png' && file.type != 'image/jpeg') {
            event.target.value = null
            console.log(file.type)
            $("#msg").text(`${file.type} is not a vaild mimetype.`)
            $("#msg").removeClass("d-none")
        } else {
            $("#msg").text("")
            $("#msg").addClass("d-none")
            previewFile(file)
            console.log(file)
            console.log()
            //const text = await file.text();
            
            //document.getElementById("output").innerText = text
        }
      }

      function previewFile(file) {
        const preview = document.querySelector("#display");
        // const file = document.querySelector("input[type=file]").files[0];
        const reader = new FileReader();
      
        reader.addEventListener(
          "load",
          () => {
            preview.src = reader.result;
          },
          false,
        );

        if (file) {
          reader.readAsDataURL(file);
        }
      }
      

    </script>
{% endblock head %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="uploadFile" id="uploadFile"  onchange="fileFieldChange(event);">
        <div class="alert alert-warning d-none" role="alert" id="msg">some alert text</div>
        <button type="submit" class="btn btn-primary">TEst</button>
    </form>
    <div id="drop_zone"
         ondrop="dropHandler(event);"
         ondragover="dragOverHandler(event);"
         style="border: 1px solid red">
        <p>
            Drag one or more files to this <i>drop zone</i>.
        </p>
        <br>
        <br>
        <br>
        <br>
    </div>
    <h3>Image</h3>
    <img src="" height="200" alt="Image preview" id="display" />
    <h3>Touch</h3>
    <div id="touch">Unknown</div>
    <h3>Output</h3>
    <h3>Postdata</h3>
    {{ postdata }}
    <h3>Filedata</h3>
    {{ filedata }}
    <br>
    {{ content_type }}
{% endblock content %}
