{% extends "common/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block title %}
    Details for {{ order.shop }} #{{ order.order_id }}
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-2 pt-3 d-none d-lg-block d-xl-block d-xxl-block">
                <img height="50" src="{{ order.shop.icon.url }}" class="pe-3" />
            </div>
            <div class="col-10">
                <h1>
                    {{ order.shop.branch_name }}
                    <a href="{{ order.get_order_url }}"
                       title="View original order details"
                       class="text-body-secondary">#{{ order.order_id }}</a>
                    <a class="btn btn-outline-secondary btn-sm"
                       href="{% url 'order-update' order.id %}"
                       role="button">edit</a>
                    <a class="btn btn-outline-secondary btn-sm"
                       href="{% url 'orderitem-create-order' order.id %}"
                       role="button">add item</a>

                </h1>
                <h6 class="text-body-secondary">{{ order.items.count }} items, {{ order.date }}</h6>
                <h3>Total: {{ order.total }}</h3>
            </div>
        </div>
        <table class="table  table-sm table-bordered table-striped table-hover table-sm">
            <thead>
                <tr>
                    {# djlint:off #}
                        <th scope="col" style="min-width: 6em;"></th>{# djlint:o #}
                        <th scope="col">Name</th>
                        <th scope="col">Count</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for orderitem in order.items.all %}
                        <tr>
                            <td class="p-2"
                                style="min-height: 12em;
                                       height: 6em;
                                       background-size: contain;
                                       background-repeat: no-repeat;{# djlint:of #}
                    {% if orderitem.thumbnail %}background-image: url({{ orderitem.thumbnail.url }});{% endif %}"></td>{# djlint:on #}
                        <td>
                            <a href="{{ orderitem.get_absolute_url }}">{{ orderitem.name }}</a>
                        </td>
                        <td>
                            {{ orderitem.count }}
                        </td>
                        <td>
                            {% if orderitem.subtotal %}
                            {{ orderitem.subtotal }}
                            {% else %}
                            -
                            {% endif%}
                        </td>
                        <td>
                            {{ orderitem.total }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for attachement in order.attachements.all %}
            Attachement: <a href="{{ attachement.file.url }}">{{ attachement }}</a>
            <br>
        {% endfor %}
    </div>
{% endblock content %}
