{% load hlo_tags %}
<nav aria-label="Pagination"
     class="navbar fixed-bottom navbar-dark bg-dark justify-content-center pb-0 pt-1 clearfix">
  <ul class="pagination pagination-lg mb-1">
    <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
      <a class="page-link"
         {% if page_obj.has_previous %} href="?{% url_replace_parameter page=1 %}" {% endif %}
         aria-label="First">
        <span class="d-lg-none d-xl-none d-xxl-none">«</span>
        <span class="d-none d-lg-block d-xl-block d-xxl-block">«&nbsp;First</span>
      </a>
    </li>
    <li class="page-item{% if not page_obj.has_previous %} disabled{% endif %}">
      <a class="page-link"
         {% if page_obj.has_previous %} href="?{% url_replace_parameter page=page_obj.previous_page_number %}" {% endif %}
         aria-label="Previous">
        <span class="d-lg-none d-xl-none d-xxl-none">‹</span>
        <span class="d-none d-lg-block d-xl-block d-xxl-block">‹&nbsp;Previous</span>
      </a>
    </li>
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item">
          <a class="page-link disabled">{{ page_obj.number }}</a>
        </li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item d-none d-lg-block d-xl-block d-xxl-block">
          <a class="page-link" href="?{% url_replace_parameter page=num %}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}
    <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
      <a class="page-link"
         {% if page_obj.has_next %} href="?{% url_replace_parameter page=page_obj.next_page_number %}" {% endif %}
         aria-label="Next">
        <span class="d-lg-none d-xl-none d-xxl-none">›</span>
        <span class="d-none d-lg-block d-xl-block d-xxl-block">Next&nbsp;›</span>
      </a>
    </li>
    <li class="page-item{% if not page_obj.has_next %} disabled{% endif %}">
      <a class="page-link"
         {% if page_obj.has_next %} href="?{% url_replace_parameter page=page_obj.paginator.num_pages %}" {% endif %}
         aria-label="Last">
        <span class="d-lg-none d-xl-none d-xxl-none">»</span>
        <span class="d-none d-lg-block d-xl-block d-xxl-block">Last&nbsp;»</span>
      </a>
    </li>
  </ul>
</nav>
