{% extends "common/base.html" %}
{% load django_bootstrap5 bootstrap_icons %}
{% load mptt_tags i18n %}
{% block title %}
  Details for {{ stock_item.name }}
{% endblock title %}
{% block head %}
  <script type="text/javascript">
    var print_urls = {
      {% for num in range %}{{ num }}: "{% url 'label-print-sha1-size' stockitem.sha1_id num %}",
      {% endfor %}
    };
    var render_urls = {
      {% for num in range %}{{ num }}: "{% url 'label-render-sha1-size' stockitem.sha1_id num %}",
      {% endfor %}
    };
    
    async function printLabelWithSize(size) {
      let url = print_urls[size]
      console.log("Printing with size, url", size, url)
      try {
        const response = await fetch(url, {
          method: "POST",
          headers: {
            'X-CSRFToken': window.csrftoken,
          },
        });
        if (!response.ok) {
          const json = await response.json();
          alert(json["reason"] + ": " + json["text"] )
        } else {
          document.querySelector('#print-label').innerHTML = "{% translate "Reprint label" %}";
        }
      } catch (error) {
        alert(`Serverside error: ${error.message}`)
        console.error(error.message);
      }
    }
    

    window.addEventListener("load", () => { 
      window.csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      console.log("CSRF token", csrftoken)
      document.querySelector('#print-label').addEventListener("click", (event) => {
        if ({{ stockitem.label_printed | yesno:"true,false" }}) {
          if (confirm("A label for this item has already been printed.\n\nAre you sure you want to print a new label?") != true) {
              return
          }
        }
        printLabelWithSize(document.querySelector("#print_multiplier").value)
      });

      document.querySelector('#print_multiplier').addEventListener("change", (event) => {
        document.querySelector('#label_img').onload = function (){
          window.scrollTo(0, document.body.scrollHeight); /* large images */
        };
        document.querySelector('#label_img').src = render_urls[event.target.value];
      });
    });
  </script>
{% endblock head %}
{% block content %}
  <div class="row mt-3">
    <div class="col-12 col-lg-7 col-xl-7 col-xxl-7">
      <div class="row">
        <!-- title -->
        <div class="col-12">
          <h3>
            {{ stockitem }}
            {% if stockitem.count != 1 or stockitem.count_unit != "items" %}
              <span class="text-secondary">({{ stockitem.count }} {{ stockitem.count_unit }})</span>
            {% endif %}
            <a class="btn btn-outline-secondary btn-sm"
               href="{% url 'stockitem-update' stockitem.id %}"
               role="button">Edit</a>
            {% if request.user.is_staff %}
              <a class="btn btn-outline-secondary btn-sm"
                 href="{% url 'admin:hlo_stockitem_change' stockitem.id %}"
                 role="button" target="_blank">Open admin view</a>
            {% endif %}
          </h3>
        </div>
      </div>
      <div class="row d-lg-none d-xl-none d-xxl-none">
        <!-- small screen image -->
        <div class="col">
          <!-- Render image on top for <  lg -->
          {% for orderitem in stockitem.orderitems.all %}
            {# djlint:off #}
            <img alt="Item thumbnail" src="{{ stockitem.thumbnail_url }}" class="img-fluid" />
            {# djlint:on #}
          {% empty %}
            <!-- No missing image for small screens -->
          {% endfor %}
        </div>
      </div>
      <div class="row mt-3">
        <!-- table -->
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <tr class="table-dark">
                <td>Tags</td>
                <td>
                  {% for tag in stockitem.tags.all %}
                    <span class="badge text-bg-dark rounded-pill pe-2">{{ tag.name }}</span>
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td>Categories</td>
                <td colspan="2">
                  <ul class="list">
                    {% for tag in stockitem.category.all %}
                      <li class="list-item">{{ tag.name }}</li>
                    {% empty %}
                      <li class="list-item">No categories</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Projects</td>
                <td colspan="2">
                  <ul class="list">
                    {% for tag in stockitem.project.all %}
                      <li class="list-item">{{ tag.name }}</li>
                    {% empty %}
                      <li class="list-item">No projects</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Storage</td>
                <td colspan="2">
                  <ul class="list">
                    {% for storage in stockitem.storage.all %}
                      <li class="list-item">
                        <a href="{% url "storage-detail" storage.pk %}">
                          {% if storage.get_ancestors|length %}{{ storage.get_ancestors|tree_path:" > " }} >{% endif %}
                        {{ storage }}</a>
                      </li>
                    {% empty %}
                      <li class="list-item">No storage locations</li>
                    {% endfor %}
                  </ul>
                </td>
              </tr>
              {% if stockitem.comment %}
              <tr><td>Comment</td><td>{{ stockitem.comment }}</td></tr>
              {% endif %}
              <tr class="table-dark">
                <td colspan="2">Related items and attachments</td>
              </tr>
              <tr>
                <td class="table-secondary">Order items</td>
                <td>
                  {% for orderitem in stockitem.orderitems.all %}
                    <a href="{% url "orderitem-detail" orderitem.pk %}">{{ orderitem }} ({{ orderitem.pk }})</a>
                    <br>
                    {% if orderitem.attachments.all %}<ul>{% endif %}
                      {% for attachment in orderitem.attachments.all %}
                        <li>
                          <a href="{{ attachment.file.url }}" target="_blank">{{ attachment.name }}</a>
                        </li>
                      {% endfor %}
                      {% if orderitem.attachments.all %}</ul>{% endif %}
                  {% empty %}
                    No linked order items
                  {% endfor %}
                </td>
              </tr>
              <tr>
                <td class="table-secondary">Attachments</td>
                <td>
                  {% for attachment in stockitem.attachments.all %}
                    {{ attachment }}
                    <br>
                  {% empty %}
                    No attachments
                  {% endfor %}
                </td>
              </tr>
              <tr class="d-none d-sm-none d-md-none d-lg-table-row d-xl-table-row d-xxl-table-row">
                <td class="table-secondary">Label</td>
                <td>
                  <p>
                    <img src="{% url 'label-render-sha1-size' stockitem.sha1_id 4 %}"
                         width="400"
                         id="label_img" />
                  </p>

                    <div class="input-group mb-3">
                      <select class="form-control" id="print_multiplier" name="print_multiplier" style="flex: unset; width: auto;">
                        <option value="1">55mm (QR)</option>
                        <option value="2">27.4mm (QR)</option>
                        <option value="3">18.5mm (QR))</option>
                        <option value="4" selected>Stock (13.7mm)</option>
                        <option value="5">10.8 mm</option>
                        <option value="6">8.9 mm</option>
                        <option value="7">7.7 mm</option>
                        <option value="8">6.8 mm</option>
                        <option value="9">5.7 mm (MicroSD)</option>
                        <option value="10">5.4 mm</option>
                        <option value="11">4.7 mm</option>
                        <option value="12">4.4 mm</option>
                      </select>
                        <a id="print-label" class="btn btn-primary">
                          {% if stockitem.label_printed %}
                            {% translate "Reprint label" %}
                          {% else %}
                            {% translate "Print label" %}
                          {% endif %}
                        </a>
                    </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 d-none d-lg-block d-xl-block d-xxl-block">
      <!-- Render image to the side for >= lg -->
      {% if stockitem.thumbnail_url %}
        <img alt="Image thumbnail"
             src="{{ stockitem.thumbnail_url }}"
             class="img-fluid"
             style="max-width: 90%" />
      {% else %}
        {% md_icon 'image-off' color='grey' size='10em' %}
      {% endif %}
    </div>
  </div>
  {% csrf_token %}
{% endblock content %}
