{% extends "common/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% block title %}
  Find stock items
{% endblock title %}
{% block css %}
  .table-row{
  cursor:pointer;
  }
{% endblock css %}
{% block javascript %}
  $(document).ready(function($) {
  $(".table-row").click(function() {
  window.document.location = $(this).data("href");
  });
  });
{% endblock javascript %}
{% block modal %}
  <div class="modal" tabindex="-1" id="filterModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Filter results</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="get">
            <!--   order__shop name date_range order  -->
            {% for field in filter.form.visible_fields %}{{ field }}{% endfor %}
            <!-- modal body ends here, buttons im modal footer -->
          </div>
          <div class="modal-footer">
            {% for field in filter.form.hidden_fields %}{{ field }}{% endfor %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
            <a href="{{ request.path }}" class="btn btn-secondary">Clear</a>
            <button type="submit" class="btn btn-primary">Filter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock modal %}
{% block content %}
  <div class="row">
    <div class="col-12 d-lg-none d-xl-none d-xxl-none">
      <button type="button"
              class="btn btn-primary w-100"
              data-bs-toggle="modal"
              data-bs-target="#filterModal">Filter</button>
    </div>
    <div class="col-12 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
      <!-- CRISPY FORM START -->
      {% load crispy_forms_tags %}
      {% crispy filter.form %}
      <!-- CRISPY FORM END -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-sm table-bordered table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" style="min-width: 6em;"></th>
            <th scope="col">Name</th>
            <!-- Hide shop col on small screens -->
            <!--
            <th scope="col" class="d-none d-lg-table-cell d-xl-table-cell d-xxl-table-cell">
                Categories
              </th>
            -->
          </tr>
        </thead>
        <tbody>
          {% for stockitem in stockitems %}
            <!-- transform as a hack to stop .stretched-link -->
            <tr class="table-row" data-href="{{ stockitem.get_absolute_url }}">
              {% with thumb_link=stockitem.thumbnail_url %}
                <td class="p-2"
                    style="min-height: 12em;
                           height: 6em;
                           background-size: contain;
                           background-repeat: no-repeat;
                           {% if thumb_link %}background-image: url({{ thumb_link }});{% endif %}"></td>
              {% endwith %}
              <td class="align-middle">
                <a href="{{ stockitem.get_absolute_url }}">{{ stockitem.name }}</a>
              </td>
              <!-- Hide shop col on small screens -->
              <!--
              <td>
                {% for project in stockitem.project.all %}{{ project }}{% endfor %}
              </td>
              -->
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  {% load hlo_tags %}
  <nav aria-label="Pagination"
       class="navbar fixed-bottom navbar-light bg-light justify-content-center pb-0 pt-1 clearfix">
    <ul class="pagination mb-1">
      <li class="page-item{% if not stockitems.has_previous %} disabled{% endif %}">
        <a class="page-link"
           {% if stockitems.has_previous %} href="?{% url_replace_parameter page=1 %}" {% endif %}
           aria-label="First">
          <span class="d-lg-none d-xl-none d-xxl-none">«</span>
          <span class="d-none d-lg-block d-xl-block d-xxl-block">«&nbsp;First</span>
        </a>
      </li>
      <li class="page-item{% if not stockitems.has_previous %} disabled{% endif %}">
        <a class="page-link"
           {% if stockitems.has_previous %} href="?{% url_replace_parameter page=stockitems.previous_page_number %}" {% endif %}
           aria-label="Previous">
          <span class="d-lg-none d-xl-none d-xxl-none">‹</span>
          <span class="d-none d-lg-block d-xl-block d-xxl-block">‹&nbsp;Previous</span>
        </a>
      </li>
      {% for num in stockitems.paginator.page_range %}
        {% if stockitems.number == num %}
          <li class="page-item">
            <a class="page-link disabled">{{ stockitems.number }}</a>
          </li>
        {% elif num > stockitems.number|add:'-3' and num < stockitems.number|add:'3' %}
          <li class="page-item d-none d-lg-block d-xl-block d-xxl-block">
            <a class="page-link" href="?{% url_replace_parameter page=num %}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="page-item{% if not stockitems.has_next %} disabled{% endif %}">
        <a class="page-link"
           {% if stockitems.has_next %} href="?{% url_replace_parameter page=stockitems.next_page_number %}" {% endif %}
           aria-label="Next">
          <span class="d-lg-none d-xl-none d-xxl-none">›</span>
          <span class="d-none d-lg-block d-xl-block d-xxl-block">Next&nbsp;›</span>
        </a>
      </li>
      <li class="page-item{% if not stockitems.has_next %} disabled{% endif %}">
        <a class="page-link"
           {% if stockitems.has_next %} href="?{% url_replace_parameter page=stockitems.paginator.num_pages %}" {% endif %}
           aria-label="Last">
          <span class="d-lg-none d-xl-none d-xxl-none">»</span>
          <span aria-hidden="true" class="d-none d-lg-block d-xl-block d-xxl-block">Last&nbsp;»</span>
        </a>
      </li>
    </ul>
  </nav>
{% endblock content %}
