{% extends "common/base.html" %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{% block title %}
  Find stock items
{% endblock title %}
{% block css %}
  .table-row{
  cursor:pointer;
  }
  td.thumbnail {
    min-height: 12em;
    height: 6em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
  }
{% endblock css %}
{% block javascript %}
  function trLink() {
    window.document.location = this.dataset.href;
  }
  window.addEventListener("load", () => {
    const preview = document.querySelectorAll(".table-row");
    for (let tr of preview) {
      tr.addEventListener("click", trLink.bind(tr));
    }
  });
{% endblock javascript %}
{% block head %}
<script type="text/javascript">
  function isElementInViewport (el) {
    var rect = el.getBoundingClientRect();
    return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
        rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
    );
  }
  function sxp(path, relative) {
    if (!relative) {
      relative = document.body;
    }
    return document.evaluate(
    path,
    relative,
    null,
    XPathResult.FIRST_ORDERED_NODE_TYPE
    ).singleNodeValue;
  }



  window.addEventListener("load", function($) {
    if (!(new URL(document.location).search)) {
      console.log("calc wis");
      let visible = 0;
      rows = document.querySelectorAll("tr.table-row")
      for (let row of rows) {
        if (isElementInViewport(row)) {
          visible = visible + 1;
        }
      }
      if (rows.length > visible) {
        visible = Math.max(visible-1, 5)
        console.log("New page size", visible);
        document.location = document.location + `?per_page=${visible}`
      }
    } else {
      console.log("not calculating page size");
    }
  });
</script>
{% endblock head %}
{% block modals %}
{% endblock modals %}
{% block content %}
{% include "common/filter_modal.html" %}
  <div class="row pb-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block" id="searchfieldFull">
    <div class="col-12 ">
      <!-- CRISPY FORM START -->
      {% load crispy_forms_tags %}
      {% crispy filter.form %}
      <!-- CRISPY FORM END -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-sm table-bordered table-striped table-hover table-sm">
        <thead>
          <tr>
            <th scope="col" style="min-width: 6em;"></th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          {% for stockitem in page_obj %}
            <!-- transform as a hack to stop .stretched-link -->
            <tr class="table-row" data-href="{{ stockitem.get_absolute_url }}">
              {% with thumb_link=stockitem.thumbnail_url %}
                <td class="p-2 thumbnail"
                    style="{% if thumb_link %}background-image: url({{ thumb_link }});
                           {% endif %}"></td>
              {% endwith %}
              <td class="align-middle">
                <a href="{{ stockitem.get_absolute_url }}">{{ stockitem.name }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <hr>
  {% include "common/pagination.html" %}
{% endblock content %}
