{% extends "common/base.html" %}

{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'js/multiselect-dropdown/multiselect-dropdown.css' %}">
{% endblock head %}
{% block modals %}
    <div class="modal" tabindex="-1" id="keyboardModel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button"
                            class="btn btn-primary"
                            id="btn_diameter"
                            data-bs-dismiss="modal">⌀</button>
                    <button type="button"
                            class="btn btn-primary"
                            id="btn_degree"
                            data-bs-dismiss="modal">°</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modals %}
{% block content %}
    <div class="row">
        <div class="col-6">
            {% if stockitem.name %}
                <h1>{{ stockitem.name }}</h1>
            {% else %}
                <h1>Create storage object<br></h1>
                <h4 class="text-secondary">{{ original_name }}</h4>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% crispy form %}
        </div>
        <div class="col-6"><img width="300" src="{{ image_url }}" /></div>
    </div>
{% endblock content %}
{% block bodybottom %}
    <script type="text/javascript">
        $(window).on("load", function() {
            $("#btn_diameter").on("click", function() { 
                $("#id_name").get(0).setRangeText("⌀")
            })
            $("#btn_degree").on("click", function() { 
                $("#id_name").get(0).setRangeText("°")
            })
            $("#unit_btn").on("click", function() { 
                var v = prompt("New unit")
                if (v.length > 0) {
                    $("#id_count_unit").append(new Option(v,v));
                    $("#id_count_unit").val(v).change();
                }
            })
            
        })
    </script>
    <script src="{% static 'js/multiselect-dropdown/multiselect-dropdown.js' %}"></script>
{% endblock bodybottom %}
