{% extends "common/base.html" %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'select2-bootstrap-5-theme/select2-bootstrap-5-theme.css' %}" />
 
    <link rel="stylesheet"
          href="{% static 'js/multiselect-dropdown/multiselect-dropdown.css' %}">
    <script src="{% static 'js/select-drop-paste.js' %}"></script>
    <script type="text/javascript">
        new SDP({
            showErrorCallback: showError,
            hideErrorCallback: hideError,
            fileInputElement: "#id_thumbnail",
            dropzoneElement: "#dropzone",
            acceptedMimeTypes: ['image/png', 'image/jpeg'],
            debug: false,
            newFileCallback: previewFile
        });
        function showError(msg) {

        }
        function hideError() {

        }
        function previewFile(file) {
            const preview = document.querySelector("#thumbnail");
            preview.classList.remove("d-none");
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                preview.src = reader.result;
            }, false);
            reader.readAsDataURL(file);
        }
        window.addEventListener("load", () => {
            document.querySelector("#id_thumbnail_btnclear").addEventListener(
                'click', 
                () => { 
                    document.querySelector('#id_thumbnail').value=null;
                    const preview = document.querySelector("#thumbnail");
                    const original_url = "{% if stockitem.thumbnail_url %}{{ stockitem.thumbnail_url }}{% elif orderitem.thumbnail %}{{ orderitem.thumbnail.url }}{% endif %}";
                    if (original_url) {
                        preview.src = original_url;
                    } else {
                        preview.classList.add("d-none");
                    }
                    
                }
                );
        });
    </script>
    <link href="{% static 'css/select2-bootstrap5-dark.css' %}" media="screen" rel="stylesheet">
{% endblock head %}
{% block css %}

{% endblock css %}
{% block modals %}
    <div class="modal" tabindex="-1" id="keyboardModel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button"
                            class="btn btn-primary"
                            id="btn_diameter"
                            data-bs-dismiss="modal">⌀</button>
                    <button type="button"
                            class="btn btn-primary"
                            id="btn_degree"
                            data-bs-dismiss="modal">°</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modals %}
{% block content %}
    <div class="row">
        <div class="col-6">
            {% if stockitem.name %}
                <h1>{{ stockitem.name }}</h1>
            {% else %}
                <h1>
                    Create storage object
                    <br>
                </h1>
                <h4 class="text-secondary">{{ original_name }}</h4>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <link href="{% static 'css/select2-bootstrap5-dark.css' %}" media="screen" rel="stylesheet">
        <div class="col-9">{% crispy form %}</div>
        <link href="{% static 'css/select2-bootstrap5-dark.css' %}" media="screen" rel="stylesheet">
        <div class="col-3 ">
            {% if stockitem.thumbnail_url %}
                <img alt="Image thumbnail"
                     src="{{ stockitem.thumbnail_url }}"
                     class="img-fluid"
                     style="max-width: 90%" id="thumbnail" />
            {% elif orderitem.thumbnail %}
                <img alt="Image thumbnail"
                     src="{{ orderitem.thumbnail.url }}"
                     class="img-fluid"
                     style="max-width: 90%" id="thumbnail" />
            {% else %}
                {% md_icon 'image-off' color='grey' size="10em" %}
            {% endif %}
        </div>
    </div>
    {% endblock content %}
    {% block bodybottom %}
        <script type="text/javascript">
        $(window).on("load", function() {
            $("#btn_diameter").on("click", function() { 
                $("#id_name").get(0).setRangeText("⌀")
            })
            $("#btn_degree").on("click", function() { 
                $("#id_name").get(0).setRangeText("°")
            })
            $("#unit_btn").on("click", function() { 
                var v = prompt("New unit")
                if (v.length > 0) {
                    $("#id_count_unit").append(new Option(v,v));
                    $("#id_count_unit").val(v).change();
                }
            })
            
        })
        </script>
        <script src="{% static 'js/multiselect-dropdown/multiselect-dropdown.js' %}"></script>
        <link rel="stylesheet" href="" media="screen" />

    {% endblock bodybottom %}
