{% extends "common/base.html" %}
{% load bootstrap_icons %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Create stock item
{% endblock title %}
{% block css %}
    .select2 input, select.django-select2 { width: 20em; }
{% endblock css %}
{% block head %}
    <link rel="stylesheet"
          href="{% static 'js/multiselect-dropdown/multiselect-dropdown.css' %}">
{% endblock head %}
{% block modals %}
    <div class="modal" tabindex="-1" id="keyboardModel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button"
                            class="btn btn-primary"
                            id="btn_diameter"
                            data-bs-dismiss="modal">⌀</button>
                    <button type="button"
                            class="btn btn-primary"
                            id="btn_degree"
                            data-bs-dismiss="modal">°</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modals %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1>{{ stockitem.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {% load crispy_forms_tags %}
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="row">
                        <div class="col">
                            {% if field.name == "name" %}
                                <div class="row">
                                    <div id="dynamic_name_div" class="col-11">
                                    {% endif %}
                                    {% with "storage project category" as select_ids %}
                                        {% if field.name in select_ids.split %}
                                            {{ field | add_class:"multiselect-dropdown-upgrade multiselect-search" | as_crispy_field }}
                                        {% else %}
                                            {{ field | as_crispy_field }}
                                        {% endif %}
                                    {% endwith %}
                                    {% if field.name == "name" %}
                                    </div>
                                    <div id="dynamic_name_div_post" class="col-1">
                                        <!-- override type, default is submit! -->
                                        <button data-bs-toggle="modal"
                                                data-bs-target="#keyboardModel"
                                                type="button"
                                                class="btn btn-primary"
                                                id="keyboard_btn"
                                                name="keyboard_btn">{% bs_icon 'keyboard' %}</button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <p class="text-end">
                    <button type="submit" class="btn btn-primary">Update stock item</button>
                </p>
            </form>
        </div>
        <div class="col-6">{{ image_tag }}</div>
    </div>
{% endblock content %}
{% block bodybottom %}
    <script type="text/javascript">
        $(window).on("load", function() {
            $("#btn_diameter").on("click", function() { 
                $("#id_name").get(0).setRangeText("⌀")
            })
            $("#btn_degree").on("click", function() { 
                $("#id_name").get(0).setRangeText("°")
            })
            
        })
    </script>
    <script src="{% static 'js/multiselect-dropdown/multiselect-dropdown.js' %}"></script>
{% endblock bodybottom %}
